#ignorar carpeta contenido secreto
**/ContenidoSecreto

#ignorar archivo config
**/config.php

#ignorar archivos con extenxion pdf en assets
assets/*.pdf

#ignorar los archivos de extensión txt
**/*.txt

#ignorar imágenes a excepción de las esenciales para el sistema
assets/media/images/!*-system.*

#ignorar archivos marcados con la bandera -prueba o -local 
**/*-local*.*
**/*-prueba.*